/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	font-size: 16px;
	font-family: "Champagne & Limousines";
}
/*-----------------------------------*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
	line-height: 1;
}
._container {
	max-width: 1257px;
	padding: 0 15px;
	margin: 0 auto;
}
.page {
}
/*---------------------------------*/
@font-face {
	font-family: "Champagne & Limousines";
	src: url(../fonts/Champagne\ &\ Limousines.ttf);
	src: url(../fonts/Champagne\ &\ Limousines\ Bold.ttf);
	src: url(../fonts/Champagne\ &\ Limousines\ Bold\ Italic.ttf);
	src: url(../fonts/Champagne\ &\ Limousines\ Italic.ttf);
}
/*--------------------------------*/
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container {
}
._container {
}
.header__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 80px;
}
.header__icon {
	display: none;
}
.header__menu {
}
.menu {
}
.menu__list {
	display: flex;
	position: relative;
	z-index: 2;
	cursor: pointer;
}
.menu__list li {
	margin: 0px 28px 0px 0px;
	padding: 3px;
}
.menu__item {
	font-family: "Champagne & Limousines";
	font-size: 16px;
	font-weight: 16px;
	line-height: 18px;
	color: #2d3538;
	font-weight: 400;
}
.menu__item a{
	font-family: "Champagne & Limousines";
	font-size: 16px;
	font-weight: 16px;
	line-height: 18px;
	color: #2d3538;
	font-weight: 400;
}
.menu__item:last-child {
	display: none;
}
.menu__social {
	display: none;
}
.header__logo {
	z-index: 2;
}
.header__contact {
	font-family: "Champagne & Limousines";
	font-size: 16px;
	font-weight: 18px;
	line-height: 21px;
	color: #efd2c2;
	font-weight: 400;
	cursor: pointer;
}

.icon-header {
	z-index: 12;
	display: flex;
}
.icon-header__item {
	margin: 0 12px;
}
/*--------------------------*/
.page__modal {
}
.modal-page {
}
#overlay {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.65);
	z-index: 999;
	-webkit-animation: fade 0.6s;
	-moz-animation: fade 0.6s;
	animation: fade 0.6s;
	overflow: auto;
}
.modal-page__container {
}
.modal-page__close {
	top: 10px;
	right: 10px;
	width: 32px;
	height: 32px;
	position: absolute;
	border: none;
	background-color: #fff;
	cursor: pointer;
	outline: none;
}
.modal-page__close:before {
	color: #000;
	content: "X";
	font-size: 14px;
	transition: all 0.5s;
}
.modal-page__body {
	top: 25%;
	left: 0;
	right: 0;
	margin: auto;
	width: 85%;
	min-width: 320px;
	max-width: 600px;
	position: absolute;
	padding: 15px 20px;
	background: #fff;
	z-index: 1000;
	animation: fade 0.6s;
}
.modal-page__title {
	font-size: 25px;
	line-height: 34px;
	color: #000;
	text-align: center;
	text-transform: uppercase;
	padding-top: 52px;
	padding-bottom: 20px;
}
.modal-page__title span {
	color: #e6cec2;
}
.modal-page__mail {
}
.mail {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.mail__field {
}
.mail__field:hover {
	cursor: pointer;
	opacity: 0.6;
}
.mail__text {
	font-size: 16px;
	line-height: 22px;
	color: #0f303f;
	text-align: center;
	padding: 5px 60px;
	border-bottom: 1px solid #000;
}
.modal-page__text {
	margin-top: 27px;
	font-size: 14px;
	line-height: 19px;
	color: #000;
	text-align: center;
}
.modal-page__button {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.modal-page__btn {
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #e6cec2;
	padding: 14px 30px;
	text-transform: uppercase;
	background-color: #000;
}
.modal-page__btn:hover {
	cursor: pointer;
}

/*--------------------------*/
.page__cover {
	padding-top: 90px;
}
.cover {
}
.cover__background {
	position: relative;
}
.cover__background img {
	height: auto;
	max-width: 100%;
}
.cover__container {
}
._container {
}
.cover__body {
	position: absolute;
	top: 30%;
	left: 10%;
}
.cover__title {
	font-family: "Champagne & Limousines";
	font-size: 55px;
	font-weight: 400px;
	line-height: 63px;
	color: #000;
	font-style: normal;
	margin-bottom: 25px;
}
.cover__text {
	font-family: "Champagne & Limousines";
	font-size: 29px;
	line-height: 33px;
	color: #000;
	font-weight: 400;
	font-style: normal;
	margin: 25px 0;
}
.cover__button {
	border: 1px solid #efd2c2;
	display: inline-flex;
	margin: 25px 0;
}

.btn-cover {
}
.btn-cover__text {
	font-family: "Champagne & Limousines";
	font-size: 20px;
	font-weight: 400px;
	line-height: 23px;
	color: #000;
	cursor: pointer;
	font-style: normal;
	padding: 18px 28px;
}
/*--------------------------*/
.page__text {
	background-color: #2d3538;
}
.text-page {
}
.text-page__container {
}
._container {
}
.text-page__body {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.text-page__text {
	font-family: "Champagne & Limousines";
	font-size: 40px;
	line-height: 46px;
	color: #efd2c2;
	font-weight: 400;
	padding: 15px 0;
}
/*---------------------------*/
.page__picture {
	padding: 110px 0 90px 0;
}
.picture {
}
.picture__container {
}
._container {
}
.picture__body {
	display: flex;
}
.column-picture {
	flex: 0 1 50%;
}
.column-picture__item {
}

.item-pic:first-child {
	position: relative;
}

.item-pic__text {
	position: absolute;
	top: 50%;
	left: 20%;
	text-align: center;
	font-size: 30px;
	line-height: 35px;
	color: #efd2c2;
	font-weight: 400;
}
.item-pic__img img {
	max-width: 100%;
}
/*----------------------------*/
.page__swiper {
	padding-top: 140px;
	padding-bottom: 50px;
}
.swiper {
}
.swiper__title {
	font-family: "Champagne & Limousines";
	font-size: 40px;
	line-height: 46px;
	color: #000;
	font-weight: 400;
	text-align: center;
	margin: 35px 0;
}
.swiper__wrapper {
}
.swiper__slide {
}
.swiper__img {
}
.swiper__img img {
	max-width: 100%;
}
.swiper__body {
	margin-left: 20px;
}
.swiper__text {
	font-family: "Champagne & Limousines";
	font-size: 16px;
	line-height: 18px;
	color: #000;
	font-weight: 400;
}
.swiper__price {
	font-family: "Champagne & Limousines";
	font-size: 20px;
	line-height: 32px;
	color: #000;
	font-weight: 400;
}
.swiper__image {
	position: relative;
}
.swiper__button {
	position: absolute;
}
.swiper__btn {
	font-size: 18px;
	background-color: #000;
	color: #efd2c2;
	padding: 15px 38px;
}
.swiper-button-next {
	color: #000;
}
.swiper-button-prev {
	color: #000;
}
/*------------------------------*/
.page__text-block {
	background-color: #efd2c2;
	padding: 90px 0;
}
.text-block {
}
.text-block__container {
}
._container {
}
.text-block__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.text-block__mail {
	font-family: "Champagne & Limousines";
	font-size: 36px;
	line-height: 54px;
	color: #000;
	font-weight: 400;
}
.text-block__button {
	background-color: #fff;
	cursor: pointer;
}
.btn-text {
}
.btn-text__follow {
	font-family: "Champagne & Limousines";
	font-size: 25px;
	line-height: 38px;
	color: #000;
	font-weight: 400;
	padding: 15px 36px;
}
/*---------------------------*/
.page__about {
	padding-top: 127px;
}
.about {
}
.about__container {
}
.about__header {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin: 60px 0;
}
.header-block {
}
.header-block__title {
	font-family: "Champagne & Limousines";
	font-size: 40px;
	line-height: 46px;
	color: #000;
	font-weight: 400;
}
.about__content {
	display: flex;
}
.about__image {
	flex: 0 0 50%;
}
.about__image img {
	max-width: 100%;
}
.about__body {
	margin-left: 50px;
	margin-top: 100px;
}
.about__item {
	margin-bottom: 120px;
}
.item {
}
.item__img {
	margin-bottom: 30px;
}
.item__img img {
	max-width: 100%;
}
.item__text {
	margin-top: 30px;
}
.text-about {
	margin-left: 110px;
}
.text-about__text {
	font-family: "Champagne & Limousines";
	font-size: 20px;
	font-weight: 400px;
	line-height: 38px;
	color: #000;
}
/*-------------------*/
.page__tegs {
	padding: 90px 0px 60px 0;
}
.tegs {
}
.tegs__container {
}
._container {
}
.tegs__body {
	display: flex;
}
.tegs__item {
	flex: 0 1 33.333%;
	margin: 0 20px;
}
.item-tegs {
}
.item-tegs__text {
	font-family: "Champagne & Limousines";
	font-size: 40px;
	font-weight: 400px;
	line-height: 60px;
	color: #000;
	cursor: pointer;
}
/*----------------------*/
.page__peple {
	padding: 80px 0;
}
.ppl-block {
}
.ppl-block__container {
}
._container {
}
.ppl-block__body {
}
.ppl-block__row {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}
.row {
}
.row__item img {
	max-width: 100%;
}
/*-------------------------------*/
.footer {
	padding: 100px 0px 70px 0;
}
.footer__container {
}
._container {
}
.footer__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__menu {
}
.menu-footer {
	display: flex;
}
.menu-footer__list-1 {
}
.menu-footer__list-1 li {
	padding: 20px 0;
}
.menu-footer__item {
	font-family: "Champagne & Limousines";
	font-size: 16px;
	font-weight: 400px;
	line-height: 18px;
	color: #000;
	cursor: pointer;
}
.menu-footer__item a{
	font-family: "Champagne & Limousines";
	font-size: 16px;
	font-weight: 400px;
	line-height: 18px;
	color: #000;
	cursor: pointer;
}
.menu-footer__list-2 {
	margin: 0 100px;
}
.menu-footer__list-2 li {
	padding: 20px 0;
}
.footer__pay {
}
.pay-footer {
}
.pay-footer__list {
	display: flex;
}
.pay-footer__item {
	margin: 0 60px;
}
/*! Адаптация 767-----------------------------------*/
@media (min-width: 767px) {
	.menu-list {
		display: flex;
		align-items: center;
	}
}
/*! Адаптация 320-----------------------------------*/
@media (max-width: 320px) {
	.page__cover {
		padding: 0;
	}
	.cover {
	}
	.cover__background {
		padding-bottom: 200px;
	}
	.cover__background img {
		height: 450px;
	}
	.cover__container {
	}
	._container {
	}
	.cover__body {
		margin-top: 40px;
	}
	.cover__title {
		font-size: 35px;
		line-height: 40px;
		color: #fff;
		text-align: center;
	}
	.cover__text {
		font-size: 13px;
		line-height: 21px;
		color: #fff;
		text-align: center;
	}
	.cover__button {
		border: 1px solid #2d3538;
		background-color: #2d3538;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.btn-cover__text {
		font-size: 11px;
		line-height: 13px;
		text-align: center;
		color: #efd2c2;
		cursor: pointer;
		padding: 10px 18px;
	}
	/*-----------------------------*/
	.text-page__body {
		margin-top: -220px;
	}
	.text-page__text {
		font-size: 15px;
		line-height: 17px;
		padding: 35px 0 10px 0;
	}
	/*--------------------------------*/
	.page__picture {
		padding: 60px 0;
	}
	.picture__body {
		display: flex;
		flex-wrap: wrap;
	}
	.column-picture {
		flex: 0 1 100%;
	}
	.column-picture__item {
	}

	.item-pic:first-child {
		position: relative;
	}

	.item-pic__text {
		position: absolute;
		top: 50%;
		left: 0;
	}
	/*---------------------*/
	.page__swiper {
		padding: 0;
	}
	/*----------------------*/
	.page__text-block {
		margin: 40px 0;
	}
	.text-block__body {
		flex-wrap: wrap;
	}
	.text-block__mail {
		text-align: center;
	}
	.text-block__button {
		background-color: #fff;
		cursor: pointer;
		margin: 20px auto;
	}
	/*--------------------------*/
	.about__content {
		display: flex;
		flex-wrap: wrap;
	}
	.about__image {
		flex: 0 0 100%;
	}
	.about__image img {
		max-width: 100%;
	}
	.about__body {
		margin: -90px 40px 0 0;
		background-color: #fff;
	}
	.about__item {
		margin-bottom: 20px;
	}
	.item {
	}
	.item__img {
		width: 100px;
		margin-left: 10px;
	}
	.item__img img {
		max-width: 100%;
	}
	.item__text {
		margin-top: 30px;
	}
	.text-about {
		margin-left: 60px;
	}
	.text-about__text {
		font-size: 14px;
		line-height: 18px;
	}
	/*-----------------------------*/
	.page__tegs {
		padding: 40px 0px 40px 0;
	}
	.tegs {
	}
	.tegs__container {
	}
	._container {
	}
	.tegs__body {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		flex-wrap: wrap;
		margin-left: 40px;
	}
	.tegs__item {
		flex: 0 1 50%;
		margin: 20px 0;
	}
	.item-tegs__text {
		font-size: 14px;
		line-height: 21px;
	}
	/*---------------------------*/
	.page__peple {
		padding: 40px 20px 0px 20px;
	}
	.ppl-block__row {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	.row {
	}
	.row__item:nth-child(2) {
		display: none;
	}
	.row__item:nth-child(3) {
		display: none;
	}
	.row__item:nth-child(4) {
		display: none;
	}
	.row__item:nth-child(5) {
		display: none;
	}
	.row__item:nth-child(6) {
		display: none;
	}
	.row__item:nth-child(8) {
		display: none;
	}
	.row__item:nth-child(9) {
		display: none;
	}
	/*------------------------------*/
	.footer {
		padding: 60px 0px 70px 0;
	}
	.footer__body {
		display: flex;
		flex-wrap: wrap;
	}
	.menu-footer__list-1 li {
		padding: 20px 0;
	}
	.menu-footer__list-2 {
		margin: 0 50px;
	}
	.menu-footer__list-2 li {
		padding: 20px 0;
	}
	.pay-footer__list {
		display: flex;
	}
	.pay-footer__item {
		margin:20px;
	}
}
/*! Адаптация 497-----------------------------------*/
@media (max-width: 497px) {
	.page__cover {
		padding: 0;
	}
	.cover {
	}
	.cover__background {
		padding-bottom: 200px;
	}
	.cover__background img {
		height: 450px;
	}
	.cover__container {
	}
	._container {
	}
	.cover__body {
		margin-top: 40px;
	}
	.cover__title {
		font-size: 35px;
		line-height: 40px;
		color: #fff;
		text-align: center;
	}
	.cover__text {
		font-size: 13px;
		line-height: 21px;
		color: #fff;
		text-align: center;
	}
	.cover__button {
		border: 1px solid #2d3538;
		background-color: #2d3538;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.btn-cover__text {
		font-size: 11px;
		line-height: 13px;
		text-align: center;
		color: #efd2c2;
		cursor: pointer;
		padding: 10px 18px;
	}
	/*-----------------------------*/
	.text-page__body {
		margin-top: -220px;
	}
	.text-page__text {
		font-size: 15px;
		line-height: 17px;
		padding: 35px 0 10px 0;
	}
	/*--------------------------------*/
	.page__picture {
		padding: 60px 0;
	}
	.picture__body {
		display: flex;
		flex-wrap: wrap;
	}
	.column-picture {
		flex: 0 1 100%;
	}
	.column-picture__item {
	}

	.item-pic:first-child {
		position: relative;
	}

	.item-pic__text {
		position: absolute;
		top: 50%;
		left: 0;
	}
	/*---------------------*/
	.page__swiper {
		padding: 0;
	}
	/*----------------------*/
	.page__text-block {
		margin: 40px 0;
	}
	.text-block__body {
		flex-wrap: wrap;
	}
	.text-block__mail {
		text-align: center;
	}
	.text-block__button {
		background-color: #fff;
		cursor: pointer;
		margin: 20px auto;
	}
	/*--------------------------*/
	.about__content {
		display: flex;
		flex-wrap: wrap;
	}
	.about__image {
		flex: 0 0 100%;
	}
	.about__image img {
		max-width: 100%;
	}
	.about__body {
		margin: -90px 40px 0 0;
		background-color: #fff;
	}
	.about__item {
		margin-bottom: 20px;
	}
	.item {
	}
	.item__img {
		width: 100px;
		margin-left: 10px;
	}
	.item__img img {
		max-width: 100%;
	}
	.item__text {
		margin-top: 30px;
	}
	.text-about {
		margin-left: 60px;
	}
	.text-about__text {
		font-size: 14px;
		line-height: 18px;
	}
	/*-----------------------------*/
	.page__tegs {
		padding: 40px 0px 40px 0;
	}
	.tegs {
	}
	.tegs__container {
	}
	._container {
	}
	.tegs__body {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		flex-wrap: wrap;
		margin-left: 40px;
	}
	.tegs__item {
		flex: 0 1 50%;
		margin: 20px 0;
	}
	.item-tegs__text {
		font-size: 14px;
		line-height: 21px;
	}
	/*---------------------------*/
	.page__peple {
		padding: 40px 20px 0px 20px;
	}
	.ppl-block__row {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	.row {
	}
	.row__item{
		margin: 0 auto;
	}
	.row__item:nth-child(2) {
		display: none;
	}
	.row__item:nth-child(3) {
		display: none;
	}
	.row__item:nth-child(4) {
		display: none;
	}
	.row__item:nth-child(5) {
		display: none;
	}
	.row__item:nth-child(6) {
		display: none;
	}
	.row__item:nth-child(8) {
		display: none;
	}
	.row__item:nth-child(9) {
		display: none;
	}
	/*------------------------------*/
	.footer {
		padding: 60px 0px 70px 0;
	}
	.footer__body {
		display: flex;
		flex-wrap: wrap;
	}
	.menu-footer__list-1 li {
		padding: 20px 0;
	}
	.menu-footer__list-2 {
		margin: 0 50px;
	}
	.menu-footer__list-2 li {
		padding: 20px 0;
	}
	.pay-footer__list {
		display: flex;
	}
	.pay-footer__item {
		margin:20px;
	}
}
/*----------------------------*/
@media (max-width: 767px) {
	body.lock {
		overflow: hidden;
	}
	.header {
	}
	.header__logo {
		margin: 0 auto;
		padding-left: 40px;
	}
	.header__logo img {
		width: 180px;
	}
	.header__contact {
		display: none;
	}
	.header__search {
		display: none;
	}
	.header__icon {
		display: block;
		position: absolute;
		width: 30px;
		height: 16px;
		z-index: 5;
		cursor: pointer;
	}
	.header__icon span {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #2d3538;
	}
	.header__icon::before {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #2d3538;
	}
	.header__icon::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #2d3538;
	}
	.header__icon::before,
	.header__icon::after {
		content: "";
	}
	.header__icon::before {
		top: 0;
	}
	.header__icon:after {
		bottom: 0;
	}
	.header__icon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}
	.header__icon._active span {
		transform: scale(0) translate(0px, -50%);
	}
	.header__icon._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}
	.header__icon._active::after {
		top: 50%;
		transform: rotate(45deg) translate(0px, -50%);
	}
	.menu {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		padding: 100px 30px 30px 30px;
		background-color: #fff;
		transition: left 0.3s ease 0s;
		overflow: auto;
	}
	.menu::before {
		content: "";
		position: fixed;
		width: 100%;
		top: 0;
		left: 0%;
		height: 50%;
		z-index: 22;
	}
	.menu::after {
		left: 40%;
		top: 0;
		position: absolute;
		margin: auto;
	}
	.menu._active {
		left: 0;
	}
	.menu__item {
		padding-bottom: 24px;
	}
	.menu__list {
		flex-direction: column;
		display: flex;
		flex-wrap: wrap;
	}
	.menu__list li {
		margin-bottom: 25px;
	}
	.menu__list li:first-child {
		border-bottom: none;
	}
	.menu__item:last-child {
		display: block;
		color: #efd2c2;
		font-weight: 400;
	}
	.menu__social {
		display: block;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.social__item {
		margin: 0px 5px;
	}
	/*----------------------------------*/
	.page__cover {
		padding: 0;
	}
	.cover {
	}
	.cover__background {
		padding-bottom: 200px;
	}
	.cover__background img {
		height: 450px;
	}
	.cover__container {
	}
	._container {
	}
	.cover__body {
		margin-top: 40px;
	}
	.cover__title {
		font-size: 35px;
		line-height: 40px;
		color: #fff;
		text-align: center;
	}
	.cover__text {
		font-size: 13px;
		line-height: 21px;
		color: #fff;
		text-align: center;
	}
	.cover__button {
		border: 1px solid #2d3538;
		background-color: #2d3538;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.btn-cover__text {
		font-size: 11px;
		line-height: 13px;
		text-align: center;
		color: #efd2c2;
		cursor: pointer;
		padding: 10px 18px;
	}
	/*-----------------------------*/
	.text-page__body {
		margin-top: -220px;
	}
	.text-page__text {
		font-size: 15px;
		line-height: 17px;
		padding: 35px 0 10px 0;
	}
	/*--------------------------------*/
	.page__picture {
		padding: 60px 0;
	}
	.picture__body {
		display: flex;
	}
	.column-picture {
		
	}
	.column-picture__item {
	}

	.item-pic:first-child {
		position: relative;
	}

	.item-pic__text {
		position: absolute;
		top: 50%;
		left: 0;
	}
	/*---------------------*/
	.page__swiper {
		padding: 0;
	}
	/*----------------------*/
	.page__text-block {
		margin: 40px 0;
	}
	/*----------------------*/
	.about__header{
		margin-bottom: 80px;
	}
	.about__content {
		display: flex;
	}
	.about__image img {
		max-width: 100%;
	}
	.about__body {
		margin: -50px 40px 0 0;
		background-color: #fff;
	}
	.about__item {
		margin-bottom: 20px;
	}
	.item {
	}
	.item__img {
		width: 100px;
		margin-left: 10px;
	}
	.item__img img {
		max-width: 100%;
	}
	.item__text {
		margin-top: 30px;
	}
	.text-about {
		margin-left: 60px;
	}
	.text-about__text {
		font-size: 14px;
		line-height: 18px;
	}
	/*-----------------------------*/
	.page__tegs {
		padding: 40px 0px 40px 0;
	}
	.item-tegs__text {
		font-size: 14px;
		line-height: 21px;
	}
	/*---------------------------*/
	.page__peple {
		padding: 40px 20px 0px 20px;
	}
	.row__item{
		margin: 0 auto;
	}
	.row__item:nth-child(4) {
		display: none;
	}
	.row__item:nth-child(5) {
		display: none;
	}
	.row__item:nth-child(6) {
		display: none;
	}
	.row__item:nth-child(8) {
		display: none;
	}
	.row__item:nth-child(9) {
		display: none;
	}
	/*------------------------------*/
	.footer {
		padding: 60px 0px 70px 0;
	}
	.footer__body {
		display: flex;
	}

	.menu-footer__list-2 li {
		padding: 20px 0;
	}
	.pay-footer__list {
		display: flex;
	}
	.pay-footer__item {
		margin:20px;
	}
}
/*! Адаптация 992-----------------------------------*/
@media (max-width:992px) {
	.about__header{
		margin-bottom: 80px;
	}
	.about__content {
		display: flex;
	}
	.about__image img {
		max-width: 100%;
	}
	.about__body {
		margin: -50px 40px 0 0;
		background-color: #fff;
	}
	.about__item {
		margin-bottom: 20px;
	}
	.item {
	}
	.item__img {
		width: 100px;
		margin-left: 10px;
	}
	.item__img img {
		max-width: 100%;
	}
	.item__text {
		margin-top: 30px;
	}
	.text-about {
		margin-left: 60px;
	}
	.text-about__text {
		font-size: 14px;
}
}